/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 
// font-family: Arial narrow,Arial,sans-serif
.certificates-info-card {
    @extend .info-card;
}

.certificates-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}
.certificates-list{
	margin-top:$sc-margin-lv8
}
.certificates-data{
	margin:$sc-margin-lv1
}
.certificates-pdf-name{
	padding-right:$sc-padding-lv2;
	text-transform: capitalize
}
.certificates-link{
	font-family:Arial narrow,Arial,sans-serif
}
.certificates-nodata-found {
	justify-content: center;
	display: flex;
	margin-top: 20%;
}
/* reset password scss */
.certificates-reset-password-group-text{
	min-width: 100%;
	max-width: 294px;
	min-height: 105px;
}
.product-reviews-form-actions-button-submit{
		@extend .button-medium;
    @extend .button-primary;
    margin-bottom: $sc-margin-lv2;
}
.certificates-reset-password-description{
	margin-top: $sc-margin-lv4;
	margin-bottom: $sc-margin-lv4;
}

.certificates-reset-password-form-required {
	@extend .input-required;
}
// .error-msg{
// 	display:none;
// 	@extend .message-error;
// }
